%footer.mastfoot.mt-auto
  .inner
    %p
      Cover template for
      = succeed "," do
        %a{:href => "https://getbootstrap.com/"} Bootstrap
      = succeed "." do
        %a{:href => "https://twitter.com/mdo"} @mdo
      = set_copyright