.nav-area
  .logo
    = link_to root_path, class: 'navbar-brand' do
      = image_tag("CookNCode-logo-02-small.jpg", :alt => "CookNCode", style: "width: 200px;")
  .menu-area
    %ul
      = nav_helper tag_type: 'li'
      = login_helper tag_type: 'li'
