.col-sm-3.offset-sm-1.blog-sidebar
  .sidebar-module.sidebar-module-inset
    %h4 C00KNC0DE
    %p
      Welcome to cookncode, a space where I am sharing two things that I am passionate about.
  .sidebar-module
    %h4 Topics
    - @sidebar_topics.each do |topic|
      %div
        = link_to topic.title, topic_path(topic)

  .sidebar-module
    %h4 Elsewhere
    %ol.list-unstyled.social-links
      %li
        %a{href: 'https://github.com/shabbirsaifee92'}=fa_icon "github"
      %li
        %a{href: 'https://www.linkedin.com/in/shabbir-saifee'}=fa_icon "linkedin"
      %li
        %a{href: "https://www.facebook.com/profile.php?id=100005232466855"}=fa_icon "facebook"
