%section.jumbotron.text-center
  .container
    %h1.jumbotron-heading Album example
    %p.lead.text-muted Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
    %p
      = link_to 'Find out more about me', about_me_path, class: 'btn btn-primary'
      = link_to 'My Blog', blogs_path, class: 'btn btn-secondary'