-#.navbar.navbar-inverse.bg-inverse
-#  .container.d-flex.justify-content-between
-#    %a.navbar-brand{:href => "#"} Album
-#    %button.navbar-toggler{"aria-controls" => "navbarHeader", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarHeader", "data-toggle" => "collapse", :type => "button"}
-#      %span.navbar-toggler-icon
