.blog-masthead
  .container
    %nav.nav.blog-nav
      %a.nav-brand{:href => root_path, class: 'nav-link'}
        CookNCode
      = nav_helper style: 'nav-link'
      = login_helper style: 'nav-link'