%h1 About
.row
  .col-md-4
    = image_tag 'profile.jpg', alt: 'Profile Image', width: 300
  .col-md-8
    I am a recent graduate student majored in Computer Science from Northeastern University, Boston. Currently, I am working at CoverMyMeds as a Software Developer.
    I believe that every developer should always remain in what I define as "Baby Phase". A toddler will touch, taste, smell, poke at, take apart, watch, listen, and learn more than at any other time in life. It is, simply, how we learn. The reason is simple. CURIOSITY.
    As a developer we should always be curious about the new languages, frameworks and technology. It allows us to explore the benefits of different languages/framework and then we can decide what fits best for a given problem in hand, and finding better ways to do things.
    Stay curious, keep learning and keep exploring.
