.welcome-text
  %h1 About Me
  .row
    .col-lg-4
      = image_tag 'profile.jpg', alt: 'Profile Image', width: 300
    .col-lg-8
      %p Hi there!, I am Shabbir.
      %p CookNCode is a tech and food blog. 
      %p Cooking and writing code has a lot in common and I love doing both.

      %div
        %p Reasons I love coding and cooking:
        %p 1. It's fun. 2. It's creative. 3. Always learning and trying new things
