%h1 About Me
.row
  .col-md-12
    = image_tag 'profile.jpg', alt: 'Profile Image', width: 300
.col-md-12
  %p Hi there!, I am Shabbir.
  %p CookNCode is a tech and food blog.
  Cooking and writing code has a lot in common and I love doing both.

  %h5 Reasons I love coding and cooking!
  %p
    %div
      %b 1. It's fun.
    %div
      %b 2. It's creative.
    %div  
      %b 4. There are no rules.


