%h1 Would you like to work together?
.row
  .col-md-6
    %h3 Address
    %p 140 South High St, Columbus, OH, 43215
    %h3 Phone
    %p 8572696189
    %h3 Email
    %p shabbirsaifee91@gmail.com
    %p
      %a{href: "mailto:shabbirsaifee91@gmail.com?subject=PortfolioContact"} Send Email 
  .col-md-6
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1529.0984738816182!2d-83.00095472727617!3d39.95934918025853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88388f36c9b93033%3A0x3c3a452c4685d2c8!2s140+S+High+St%2C+Columbus%2C+OH+43215!5e0!3m2!1sen!2sus!4v1555374956760!5m2!1sen!2sus", :style => "border:0", :width => "600"}
