.inner.cover
  %h1.cover-heading{align: 'center'} Welcome.
  %p.lead 
    Coding and cooking has a lot in common. After all, what is a recipe but an algorithm you follow to make delicious food. 
    %br 
    %br
    To get better at cooking we need to understand how different ingredients work together and what flavors they result in. Isn't programming
    exactly the same? Understanding which frameworks, languages and tools fit together would help us to create a great product.
    With experience and practice we need to learn and understand which ingredients we need to create a dish that we envisioned.
